# Created by .ignore support plugin (hsz.mobi)
www/node_modules
www/node_modules/grunt-contrib-clean
www/node_modules/grunt-contrib-sass
www/node_modules/grunt-contrib-handlebars
www/node_modules/grunt-contrib-watch
www/node_modules/grunt-contrib-connect
www/node_modules/grunt-contrib-cssmin
www/node_modules/grunt-contrib-requirejs
www/node_modules/grunt-contrib-copy
www/node_modules/grunt
www/node_modules/grunt-locales
www/node_modules/grunt-contrib-jshint
www/node_modules/grunt-connect-proxy
.cordova
hooks