@-webkit-keyframes SlideIn {
  0%{
    margin-left: 0px;
  }
  100%{
    margin-left: -250px;
  }
}
@keyframes SlideIn {
  0%{
    margin-left: 0px;
  }
  100%{
    margin-left: -250px;
  }
}
@-webkit-keyframes SlideTopIn {
  0%{
    margin-top: -45px;
  }
  100%{
    margin-top: 0px;
  }
}
@keyframes SlideTopOut {
  0%{
    margin-top: 0px;
  }
  100%{
    margin-top: -45px;
  }
}
