.header-wrapper{
  position: fixed;
  height: 45px;
  width: 100%;
  padding: 7px;
  background: $pr-clr;
  z-index: $high-pos-index;
  div{
    height: 31px;
    position: relative;
    float: left;
    &:last-child{
      float: right;
    }
  }
  span{
    width: 40px;
    position: relative;
    display: inline-block;
    font-size:0.90em;
    &:before{
      color: $font-scnd-clr;
      font-size:$font-24px;
    }
    &:active:before{
      color: white;
    }
  }
}

/*---HEADER LEFT PART--*/
.left-el{
  width: 20%;
  float: left;
  span{
    padding-left: 5px;
    text-align: left;
    margin-left: 40px;
    position: absolute;
    left: 0;
    &:first-child{
      margin-left: 0px;
    }
  }
  .settings:before{
    content:'\e606';
  }
  .user-info:before{
    content:'\e61e';
  }
  .left-back:before{
    content:'\e61a';
  }
  .menu:before {
      content: '\e604';
  }
}
/*---HEADER MIDDLE PART--*/
.middle-el{
  width: 60%;
}
ul.list-switch{
  display: table;
  width: 185px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  li{
    display: table-cell;
    height: 100%;
    background-color: $third-clr;
    color: white;
    text-align: center;
    line-height: 2.3em;
    &:first-child{
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    &:last-child{
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
  li.active{
    background-color: #3d3d3d;
  }
}
.send {
  width: 100%!important;
  height: 30px;
  color: $font-pr-clr;
  font-size: $font-19px;
  line-height: 30px;
}
.title{
  margin: 0;
  color: $font-pr-clr;
  text-align: center;
  font-size: $font-19px;
  line-height: $font-24px;
}
/*---HEADER RIGHT PART--*/
.right-el{
  width: 20%;
  float: right;
  span{
    position: absolute;
    right: 0;
    padding-right: 5px;
    text-align: right;
  }
  .right-back:before{
    content: "\e61b";
  }
  .search {
    display: none;
    &:before {
      content: '\e607';
    }
  }
  .message {
    display: none;
    &:before {
      content: '\e617';
      color: $font-scnd-clr;
      font-size: $font-22px;
    }
  }
  .cancel{
    color: $font-scnd-clr;
    line-height: 30px;
    margin-right: 5px;
    font-family: 'Roboto', sans-serif;
    display: none;
  }
}
.messages-count {
  left: 0;
  top: 0;
  color: $font-pr-clr;
  line-height: 28px;
  margin-left: -20px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: $font-11px!important;
  padding-right: 6px!important;
}