.songs-wrapper {
  width: 100%;
  padding: 0;
  margin: 0;
  display: table;
  border-collapse:collapse;
  margin-bottom: 45px;
  li{
    display: table-row;
    min-height: 48px;
    border-bottom: 1px solid $third-clr;
    list-style: none;
    padding: 0px 10px;
    box-sizing: border-box;
    background-color: $scnd-clr;
    div{
      color: $third-clr;
      height: 48px;
    }
    span{
      &:before{
        font-size: $font-22px;
        line-height: 50px;
      }
    }
  }
}
/*-- PLAYLIST BUTTONS --*/
.pl-play {
  width: 37px;
  text-align: center;
  float: left;
  &:before{
    content: '\e60e';
    font-size: $font-24px;
    width: 37px;
    display: block;
    line-height: 45px;
    text-align: center;
    color: $font-thrd-clr;
  }
}
.pl-pause {
  width: 37px;
  text-align: center;
  float: left;
  &:before {
    content: '\e60d';
    font-size: $font-22px;
    width: 37px;
    display: block;
    line-height: 45px;
    text-align: center;
    color: $font-thrd-clr;
  }
}

.song-info{
  display: table-cell;
  overflow: hidden;
  width: 100%;
  vertical-align: middle;
  padding: 0px 4px;
  box-sizing: border-box;
  span{
    height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .song-name{
    width: 200px;
    font-size: $font-11px;
    color: $font-pr-clr;
    display: block;
    padding: 4px 0px;
  }
  .author{
    width: 135px;
    float: left;
    font-size: $font-14px;
    color: $font-pr-clr;
    text-align: left;
  }
  .time-bar{
    width: 30%;
    float: right;
    text-align: right;
    font-size: $font-11px;
    line-height: 25px;
    color: $font-pr-clr;
  }
}
.active-btns{
  width: 75px;
  float: right;
  text-align: right;
  overflow: hidden;
  div.active-btns-wrapper{
    position: relative;
    width: 37px;
    overflow: hidden;
    float: left;
    display: inline-block;
    div{
        position: absolute;
        width: 75px;
        left: 0;
      }
  }
  span {
    position: relative;
    display: block;
    float: left;
    width: 37px;
    text-align: center;
    &:active:before{
      color: $font-pr-clr;
    }
  }
  .like{
    color: $font-scnd-clr;
    &:before{
      content: '\e603';
    }
    .active:before{
      color: $scnd-clr;
      content: '\e602';
    }
  }
  .download{
    &:before{
      content: '\e618';
      color: $font-scnd-clr;
    }
    .active:before{
      color: $font-pr-clr;
      content: '\e602';
    }
  }
  .share{
    margin-left: -37px;
    display: none;
    &:before {
      //  content: '\e625';
      content: '\e61e';
      font-size: $font-22px;
      color: $font-scnd-clr;
    }
    .active:before{
      color: $font-pr-clr;
      content: '\e602';
    }
  }
  .remove{
    display: none;
    margin-left: -37px;
    &:before{
      content: '\e600';
    }
  }
}
