.profile-wrapper{
  position: fixed;
  display: table;
  width: 100%;
  height: 160px;
  background-color: $scnd-clr;
  z-index: $middle-pos-index;
  border-bottom: 1px solid $pr-clr;
  .photo {
    display: table-cell;
    vertical-align: middle;
    width: 35%;
    height: 100%;
    padding: 0px 10px;
    box-sizing: border-box;
    @media all and (min-width: 600px){
      width: 25%;
      display: block;
      float: left;
      padding-top: 25px;
      padding-left: 25px;
      box-sizing: border-box;
    }
    img{
      border-radius: 50%;
      border: 1px solid $pr-clr;
      height: 100px;
      width: 100px;
    }
  }
  .info-wrapper{
    display: table-cell;
    width: 65%;
    height: 100%;
    @media all and (min-width: 600px){
      float: left;
      display: block;
      width: 75%;
      position: relative;
    }
    .personal-info {
      height: 40px;
      padding: 10px 0px 0px 10px;
      @media all and (min-width: 600px){
        text-align: center;
        font-size: $font-22px;
        padding-top: 5px;
        width: 100%;
        float: left;
      }
      span{
        color: $font-pr-clr;
        font-size: $font-19px;
        &:first-child{
          margin-right: 5px;
        }
      }
    }
    .stats {
      display: table;
      width: 100%;
      height: 40px;
      border-collapse: collapse;
      @media all and (min-width: 600px){
        float: left;
        width: 50%;
        height: 70px;
        line-height: 70px;
        font-size: $font-17px;
      }
      div{
        display: table-row;
        height: 20px;
        line-height: 20px;
        @media all and (min-width: 600px){
          height: 35px;
          line-height: 35px;
        }
        span{
          color: $font-pr-clr;
          font-size: $font-14px;
          display: table-cell;
          text-align: center;
        }
      }
      .scnd-row{
        span{
          font-size: $font-19px;
          font-weight: bold;
        }
      }
    }
  }
}