.profile-wrapper{
  position: fixed;
  display: table;
  width: 100%;
  height: 160px;
  background-color: $scnd-clr;
  z-index: $middle-pos-index;
  border-bottom: 1px solid $pr-clr;
  .photo {
    display: table-cell;
    vertical-align: middle;
    width: 35%;
    height: 100%;
    padding: 0px 10px;
    box-sizing: border-box;
    img{
      border-radius: 50%;
    }
  }
  .info-wrapper{
    display: table-cell;
    width: 65%;
    height: 100%;
    .personal-info {
      height: 40px;
      padding: 10px 0px 0px 10px;
      span{
        color: $font-pr-clr;
        font-size: $font-19px;
        &:first-child{
          margin-right: 5px;
        }
      }
    }
    .stats {
      display: table;
      width: 100%;
      height: 60px;
      border-collapse: collapse;
      div{
        display: table-row;
        height: 30px;
        line-height: 30px;
        span{
          color: $font-pr-clr;
          font-size: $font-14px;
          display: table-cell;
          text-align: center;
        }
      }
      .scnd-row{
        span{
          font-size: $font-19px;
          font-weight: bold;
        }
      }
    }
  }
}