footer{
  position: fixed;
  bottom: 0;
  height: 45px;
  width: 100%;
  background: $pr-clr;
  z-index: $high-pos-index;
  display: none;
  margin-bottom: -45px;
}
.footer-wrapper{
  width: 100%;
  height: 100%;
  ul{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    display: table;
    border-collapse: collapse;
    li{
      width: 25%;
      height: 100%;
      text-align: center;
      display: table-cell;
      list-style: none;
      line-height: 45px;
      padding: 0px 10px;
      box-sizing: border-box;
      color: $font-pr-clr;
      font-size: $font-12px;
      border-right: 1px solid $third-clr;
      &:last-child{
        border-right: none;
      }
      &:before{
        font-family: 'icons',sans-serif;
        font-size: $font-22px;
        content: '';
        display: block;
        position: relative;
        height: 10px;
        top: -8px;
      }
    }
    .online:before{
      content: '\e629';
      font-size: 1.3em;
    }
    .downloads:before{
      content: '\e623';
    }
    .likes:before{
      content: '\e602';
    }
    .recommends:before{
      content: '\e625';
    }
    .social:before{
      height: 5px;
      top: -10px;
      content: '';
    }
    .f-online:before{
      height: 5px;
      top: -10px;
      content: '\e61d';
    }
    .contacts:before{
      height: 5px;
      top: -10px;
      content: '\e61c';
    }
    .application:before{
      height: 5px;
      top: -10px;
      content: '\e61e';
    }
    .active{
      background-color: $font-scnd-clr;
    }
  }
}