<div>
    {{#if showGetBeats }}
        <span class="btn-scnd-bg get-beats">Start beats</span>
    {{/if}}
    {{#if showBeatsCategorys }}
        <div class="beats-cat-title-wrapper">
            <span class="title">Choose your favorite music categories :</span>
            <span class="done btn-scnd-bg">Done</span>
        </div>
        <ul class="beats-cat-wrapper">
            {{#each genre_id}}
                <li class="beats-cat">
                    <span>{{ this }}</span>
                <span>
                    <input type="checkbox" name="" id=""/><label class="icons check"></label>
                </span>
                </li>
            {{/each}}
        </ul>
    {{/if}}
</div>