<div>
    <div class="left-el icons">
        {{#if showSettings}}
            <span class="settings"></span>
        {{/if}}
        {{#if showMenu}}
            <span class="menu"></span>
        {{/if}}
        {{#if showLeftBack}}
            <span class="left-back"></span>
        {{/if}}
    </div>
    <div class="middle-el">
        {{#if showTitle}}
            <h1 class="title">{{Title}}</h1>
        {{/if}}
        {{#if showlist}}
            <ul class="list-switch">
                {{#if showHomeNav}}
                    <li class="player active">Player</li>
                    <li class="music">Music</li>
                {{/if}}
            </ul>
        {{/if}}
        {{#if showSend}}
            <span class="btn-third-clr send">Send</span>
        {{/if}}
    </div>
    <div class="right-el icons">
        {{#if showRightBack}}
            <span class="right-back"></span>
        {{/if}}
        {{#if showMessages }}
        <span class="icons message">
            <span class="messages-count">0</span>
        </span>
        {{/if}}
        {{#if showSearch }}
            <span class="search"></span>
            <span class="cancel">Cancel</span>
        {{/if}}
    </div>
</div>