<div id="layout-settings">

</div>
<div id="refresh-block">
    <p class="swipe"></p>
    <p class="last-update">Last update:<span class="update-date"></span></p>
</div>
<div id="layout-home">

</div>
<div id="layout-playlists">

</div>