    <div id="logo">
        <p>heartbeats to the rhythm</p>
    </div>
    <div id="login">
        <form id="loginForm">
            <!--<div class="form-group">-->
                <!--<label for="userName">Username</label>-->
                <!--<input type="text" class="form-control" id="userName" placeholder="Enter username">-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label for="password">Password</label>-->
                <!--<input type="password" class="form-control" id="password1" placeholder="Password">-->
            <!--</div>-->
            <!--<button type="submit" class="btn btn btn-red-bg">Submit</button>-->
            <div class="form-group social">
                <p>Welcome to the Heartbeat application.</br>
                    Login to the application using social accounts</p>
                <a class="btn btn-auth" id="vkLogin" href="#"><span>Login with VK account</span></a>
                <a class="btn btn-auth" id="fbLogin" href="#"><span>Login with Facebook account</span></a>
                <a class="btn btn-auth" id="twLogin" href="#"><span>Login with Twitter account</span></a>
            </div>
            <!--<div class="form-group">-->
                <!--<p>Need a Heartbeat account?</p>-->
                <!--<a class="link" href="#">Sign up here.</a>-->
            <!--</div>-->
        </form>
    </div>