<div class="photo">
    <img src="{{ photo_100 }}" alt="{{ second_name}}"/>
</div>
<div class="info-wrapper">
    <div class="personal-info">
        <span class="second-name">{{ last_name }}</span>
        <span class="first-name">{{ first_name }}</span>
    </div>
    <div class="stats">
        <div class="title-row">
            <span class="songs-title">Songs</span>
            <span class="listeners-title">Listeners</span>
            <span class="rating-title">Rating</span>
        </div>
        <div class="stat-row">
            <span class="songs-total">2345</span>
            <span class="listeners-res">98463</span>
            <span class="rating-res">10</span>
        </div>
    </div>
    <div class="beats-row">
        <span class="beats-now-title">now</span>
        <span class="beats-main-title">
            Beats for today
        </span>
        <span class="beats-max-title">max</span>
    </div>
    <div class="beats-row">
        <span class="beats-now">300</span>
            <span class="beats-progress">
                <div class="beats-stat-wrapper">
                    <div class="beats-trigger"></div>
                </div>
            </span>
        <span class="beats-max">1500</span>
    </div>
</div>