<div class="photo">
    <img src="{{ photo_100 }}" alt="{{ second_name}}"/>
</div>
<div class="info-wrapper">
    <div class="personal-info">
        <span class="second-name">{{ last_name }}</span>
        <span class="first-name">{{ first_name }}</span>
    </div>
    <div class="stats">
        <div class="first-row">
            <span class="songs-title">Songs</span>
            <span class="listeners-title">Listeners</span>
            <span class="rating-title">Rating</span>
        </div>
        <div class="scnd-row">
            <span class="songs-total">2345</span>
            <span class="listeners-res">98463</span>
            <span class="rating-res">10</span>
        </div>
        <div class="third-row">
            <span class="beats-now"></span>
            <span class="beats-progress"></span>
            <span class="beats-max"></span>
        </div>
    </div>
</div>