.header{
  position: fixed;
  height: 45px;
  width: 100%;
  padding: 7px 15px;
  background: $bg-pr-clr;
  div{
    height: 31px;
    position: relative;
    float: left;
    &:last-child{
      float: right;
    }
  }
}

/*---HEADER LEFT PART--*/
.left-el{
  width: 20%;
}
/*---HEADER MIDDLE PART--*/
.middle-el{
  width: 60%;
}
.title{
  margin: 0;
}
/*---HEADER RIGHT PART--*/
.right-el{
  width: 20%;
}