
/*---DEFAULT COLORS---*/

$bg-pr-clr: #D52C26;
$bg-scnd-clr: #fafafa;
$font-pr-clr: #000000;
$font-scnd-clr: #ccc;





body{
  font-family: $sans-font-family;
  background: #fafafa;
  margin: 0px;
  padding: 0px;
}